body {
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif; */
        /* font-family: 'Montserrat', sans-serif; */
        /* font-family: 'Josefin Sans', sans-serif; */
}


.image-banner {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    width: 100vw;
}

.image-banner--2 {
    grid-template-columns: auto auto;
}

.image-banner--2 img {
    width: 50vw;
}

.image-banner--4 {
    grid-template-columns: auto auto auto auto;
}

.image-banner--2 .image-banner-container {
    width: 50vw;
}

.image-banner-link {
    display: grid;
    transition: all 0.3s ease-in-out;
    animation-name: fade-in;
    animation-duration: 1.5s;
    text-align: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    height: 100%;
}

.image-banner-container,
.product-title {
    grid-row: 1;
    grid-column: 1;
    transition: all 0.3s ease-in-out;
}

.product-title {
    z-index: -1;
}

.product-title p {
    position: relative;
    top: 50%;
    margin: 0px;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: 700;
}

.image-banner-link:hover {
    transition: all 0.3s ease-in-out;
}

.image-banner-link:hover .product-title {
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.image-banner-container:hover {
    opacity: 0.5;
}

.green {
    background: linear-gradient(360deg, #396943 0%, rgba(104, 138, 112, 0.703125) 50%, rgba(217, 217, 217, 0) 100%);
}

.brown {
    background: linear-gradient(360deg, #7a4f3e 0%, rgba(156, 129, 117, 0.640625) 50%, rgba(217, 217, 217, 0) 100%);
}

.light-brown {
    background: linear-gradient(360deg, #dfc7b5 0%, rgba(221, 205, 194, 0.645833) 50%, rgba(217, 217, 217, 0) 100%);
}

.blue{
    background: linear-gradient(360deg, #97DBD7 0%, rgba(173, 218, 216, 0.65625) 38.02%, rgba(217, 217, 217, 0) 100%);
}

.image-banner-container img {
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    .image-banner {
        display: grid;
        grid-template-columns: auto auto;
        width: 100vw;
    }

  .background-overlay{
    width: 50vw;
  }

  .image-banner-container{
    width: 50vw;
  }
}

@media screen and (max-width: 450px) {
    .image-banner {
        display: grid;
        grid-template-columns: auto;
        width: 100vw;
    }

    .image-banner-container img {
        width: 100vw;
    }

  .image-banner--2 img {
    width: 100vw;
}

.image-banner--2 .image-banner-container {
    width: 100vw;
}

    .background-overlay{
    width: 100vw;
  }

  .image-banner-container{
    width: 100vw;
  }
}
